<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Numbers</title>
	<link rel="stylesheet" href="/css/registration-numbers.css">
</head>

<body style="background-image: /public/images/nullnull.jpeg;">
	
	<div class="container">
        {{{body}}}
    </div>
</body>
</html>

